html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: white;
    font-family: 'Manrope';
    background-color: #E7EEF7;

    background-image: url('../images/page-index/bg-1.svg');
    background-repeat: no-repeat;
    background-position: top left;
}

.container {
    max-width: 1305px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.d-flex {
    display: flex;
}

.btn {
    padding: 10px 20px;
    background-color: $blue;
    border-radius: 50px;
    color: white;
    font-weight: 700;

    &--white {
        background-color: white;
        color: $blue;
    }
}

.text-darkblue {
    color: $dark-blue;
}

.swiper-pagination {
    position: static;
}

.swiper-pagination-bullet {
    opacity: 1;
    background-color: #93BBFF;
    transition: background-color, 0.2s;

    &-active {
        background-color: $blue;
    }

    &+& {
        margin-left: 10px !important;
    }
}